
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/* declaring all the colors */

:root{
    --green: #27ae60;
    --black: #192a56;
    --purple: #4831D4;
    --light-color: #666;
    --blue: #4831D4;
    --box-shadow: 0 .5rem   1.5rem rgba(0,0,0,.1);
 }


 html{
    font-family: 'Anek Telugu', sans-serif;
    font-size: 65.5%;
    overflow-x: 12px;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    
}


section{
    padding: 2rem;
}



*{
    font-family: 'Anek Telugu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    
    transition: all .2s linear;
}

.logo{
    font-family: 'Tangerine', serif;
    text-decoration: none;
    font-size: 30px;
    color: var(--blue);
    font-weight: bold;
}

.logospan{
    font-family: 'Tangerine', serif;
    color: var(--green);
}


/* designing the nav bar */

header{
    top: 0; right: 0; left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    z-index: 1000;
    box-shadow: var(--box-shadow);  
}


.active,
header .navbar :hover{
    color: var(--green);
    transform: scale(1,1);
    transition: .2s;
    cursor: pointer;
    background-color: var(--purple);
   
}


.navbar a{
    margin-left: 10px;
    margin-right: 32px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    border-radius: 10px 0px 10px 0px;
    font-weight: bold;
}


.close{
    font-size: 10px;
    color: transparent;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background-color: var(--light-color);
}




